backend:
    name: git-gateway
    branch: main # Branch to update (optional; defaults to master)
media_folder: "static/uploads"
public_folder: "/uploads"
collections:
    - name: "Singles" # Used in routes, e.g., /admin/collections/blog
      label: "Single" # Used in the UI
      folder: "singles" # The path to the folder where the documents are stored
      create: true # Allow users to create new documents in this collection
      slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
      fields: # The fields for each document, usually in front matter
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Image", name: "image", widget: "image" }
          - { label: "Details", name: "details", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
    - name: "projects" # Used in routes, e.g., /admin/collections/blog
      label: "Project" # Used in the UI
      folder: "projects" # The path to the folder where the documents are stored
      widget: "list"
      create: true # Allow users to create new documents in this collection
      slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
      summary: '{{fields.title}}'
      fields: # The fields for each document, usually in front matter
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Cover Image", name: "coverImage", widget: "image" }
          - { label: "Video", name: "video", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
          - label: Images
            name: images
            collapsed: false
            widget: list
            fields:
              - {label: Image, name: image, widget: image}
              - {label: Title, name: title, widget: string}
              - {label: Details, name: details, widget: string}
    - name: "projectsMainImage"
      label: "Project Main Image"
      create: true # Allow users to create new documents in this collection
      slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
      folder: "projectsMainImage" # The path to the folder where the documents are stored
      widget: "image"
      fields:
          - widget: string
            name: name
            label: Name
            required: false
          - widget: image
            name: image
            label: Image
            required: true
    - name: "singlesMainImage"
      label: "One-off Main Image"
      create: true # Allow users to create new documents in this collection
      slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
      folder: "singlesMainImage" # The path to the folder where the documents are stored
      widget: "image"
      fields:
          - widget: string
            name: name
            label: Name
            required: false
          - widget: image
            name: image
            label: Image
            required: true
    - name: "aboutText"
      label: "About page text"
      create: true # Allow users to create new documents in this collection
      slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
      folder: "aboutText" # The path to the folder where the documents are stored
      widget: "markdown"
      fields:
          - widget: markdown
            name: aboutText
            label: About Text
            required: true