$black: #0b0b09;
$white: #ffffff;
$cream: #fafafa;
$grey: #687876;

@font-face {
    font-family: Palatino;
    src: url("../assets/Palatino/Palatino.ttf");
    src: url("../assets/Palatino/Palatino.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/Palatino/Palatino.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../assets/Palatino/Palatino.ttf")
            format("truetype"); /* Safari, Android, iOS */
}

* {
    font-family: Palatino;
}

body {
    background-color: $cream;
}


.masonry {
    @media only screen and (min-width: 600px) {
        gap: 2rem;
        column-count: 3;
    }
}

.masonry-item {
    position: relative;
    z-index: 1;

    &:hover {
        .masonry-item__image-heading {
            @media only screen and (min-width: 600px) {
                opacity: 1;
            }
        }
        .masonry-item__image {
            @media only screen and (min-width: 600px) {
                filter: brightness(65%);
            }
        }
    }
}

.masonry-item__link {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 4;
}

.masonry-item__image {
    width: 100%;
    height: auto;
    filter: brightness(65%);

    @media only screen and (min-width: 600px) {
        filter: brightness(100%);
    }
}

.masonry-item__image-heading {
    z-index: 3;
    position: absolute;
    top: 20px;
    left: 0;
    text-transform: uppercase;
    letter-spacing: 1px;;
    font-size: 18px;
    color: $white;
    transition: opacity 0.2s linear;
    margin: 0;
    text-align: center;
    width: 100%;
    top: 46%;

    @media only screen and (min-width: 600px) {
        opacity: 0;
    }
}

.masonry-item__image-heading-text {
    display: block;
    text-align: center;
    margin: 0 10px 0 10px;
}

// skeleton css overrides

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    background-color: #687876;
    border-color: #687876;
}

.contact__btn {
    background-color: #687876;
    border-color: #687876;
    color: #ffffff;

    &:hover {
        color: #ffffff;
        background-color: #728381;
        border-color: #728381;
    }
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    background-color: #728381;
    border-color: #728381;
}

a {
    color: #687876;

    &:hover {
        color: #687876;
    }
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
    border-radius: 5px;
    border-color: #728381;
    border: 1px solid #728381;
}