$black: #0b0b09;
$white: #ffffff;
$cream: #fafafa;
$grey: #687876;

@font-face {
    font-family: Palatino;
    src: url("../assets/Palatino/Palatino.ttf");
    src: url("../assets/Palatino/Palatino.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/Palatino/Palatino.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("../assets/Palatino/Palatino.ttf")
            format("truetype"); /* Safari, Android, iOS */
}

* {
    font-family: Palatino;
}

body {
    background-color: $cream;
}


.masonry {
    @media only screen and (min-width: 600px) {
        gap: 2rem;
        column-count: 3;
    }
}

.masonry-item {
    position: relative;
    z-index: 1;

    &:hover {
        .masonry-item__image-heading {
            @media only screen and (min-width: 600px) {
                opacity: 1;
            }
        }
        .masonry-item__image {
            @media only screen and (min-width: 600px) {
                filter: brightness(65%);
            }
        }
    }
}

.masonry-item__link {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 4;
}

.masonry-item__image {
    width: 100%;
    height: auto;
    filter: brightness(65%);

    @media only screen and (min-width: 600px) {
        filter: brightness(100%);
    }
}

.masonry-item__image-heading {
    z-index: 3;
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 42px;
    color: $white;
    transition: opacity 0.2s linear;
    margin: 0;

    @media only screen and (min-width: 600px) {
        left: 28%;
        opacity: 0;
    }
}